/* Homepage */
.images{
    width: 100%;
    height: 300px;
}
.badge{
    position: absolute;
    top: -10px;
    right: 30px;
}
.card-product{
    height: 100px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
body{
    background-color: #ffffff !important;
}
.navbar-custom, .bg-primary{
    background-color: #6288d2 !important;
}
.navbar-custom .navbar-brand, .navbar-custom .navbar-brand:hover{
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
}
img.logo{
    margin-top: -5px;
}
img.logo, img.icon{
    margin-right: 15px;
    height: 30px;
}
.border-right{
    border-right: 1px solid #fff;
}
.border-left{
    border-left: 1px solid #fff;
}
.form-control.input-lg{
    border-radius: 6px;
    padding: 10px;
}
.btn{
    border-radius: 6px;
    padding: 4px 17px;
}
.text-primary{
    color: #6288d2 !important;
}
.relative{
    position: relative;
}
.btn-relative{
    position: absolute;
    right: 18px;
    top: 4px;
    border-radius: 6px;
    padding: 7px 10px;
    background-color: #6288d2;
    border: none;
}
.carousel{
    background-color: #f1f6ff;
    margin-top: 80px;
    padding: 15px 0 0 0;
    margin-bottom: 10px;
}
.carousel-indicators, .carousel-control-prev, .carousel-control-next{
    display: none !important;
}
.carousel-item{
    margin-bottom: 10px;
    padding: 30px;
}
.carousel-item img{
    border-radius: 20px;
    height: 280px;
    width: 100%;
}
.category-item{
    padding: 10px;
    border-radius: 7px;
    border: 1px solid grey;
}
.category-item img{
    height: 80px;
    width: auto;
}
.panel-category{
    border-radius: 20px;
    padding: 30px;
}
/* .panel-category .card, .panel-category .card img{
    border-radius: 20px;
} */
.panel-category .card, .panel-category {
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 50px;
}
.card img{
    width: 100%;
    height: 300px;
}
.panel-category .card h4{
    line-height: 30px;
}
.categpry-footer{
    padding-top: 30px;
}
.medsos-footer{
    display: flex;
}
.medsos{
    background-color: #ffffff;
    border-radius: 50%;
    padding: 8px;
}
.medsos img{
    display: inline-block;
    width: 20px;
}

/*Product*/
.product-detail{
    margin-top: 80px;
}
.product-img{
    display: block;
    width: 100%;
    border: 1px solid grey;
}


/* ========================================================
        ADMIN PAGE STYLESHEET
========================================================= */
.brand{
    background: linear-gradient(131deg, #eb4886, #a25aaf);
}
.bi{
    margin-top: -4px;
}
.sidebar-btn{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
    display: block;
    color: grey;
    text-align: left;
    background-color: white !important;
    border-color: white !important;
    border-left: 3px solid transparent !important;
    border-radius: 0;
    width: 100%;
}
.sidebar-btn.active{
    border-left: 3px solid #eb4886 !important;
    color: #eb4886;
    font-weight: bold;
}
.sidebar-btn .bi{
    margin-right: 5px;
}
.card.primary{
    background: linear-gradient(131deg, #eb4886, #a25aaf);
}
.card.secondary{
    background: linear-gradient(131deg, #845fc1, #7b71ca);
}
.card.info{
    background: linear-gradient(131deg, #46c5f1, #6493d7);
}
.card.warning{
    background: linear-gradient(131deg, #ffb72a, #f57f5a);
}
.card.prime{
    background: linear-gradient(131deg, #6288d2, #0dcaf0);
}
.btn-file, .btn-file:hover, .btn-file:active{
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    user-select: none !important;
    background-color: white;
    border: 1px dotted grey;
    color: grey;
}
.btn-file .bi{
    margin: 20px 0;
}
.light-table thead{
    background-color: #2f3a4d;
    color: white;
    text-align: center;
}
.light-table tbody{
    border-top: none !important;
}
.light-table tbody td{
    text-align: center;
    font-size: inherit !important;
    vertical-align: middle;
}
.light-table thead th{
    padding: 10px 0;
    border-bottom: 0 !important;
}
.light-table thead th:first-child{
    border-radius: 8px 0 0 8px;
}
.light-table thead th:last-child{
    border-radius: 0 8px 8px 0;
}